.search-bar-container {
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  gap: 12px;
}

.search-input-wrapper {
  display: flex;
  gap: 8px;
}

.search-input-wrapper input {
  flex: 1;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-input-wrapper button {
  padding: 8px 12px;
  border: none;
  background-color: #ddd;
  border-radius: 6px;
  cursor: pointer;
}

.search-btn {
  background-color: black;
  color: white;
}

.filters {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.filters select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.delivery-options label {
  margin-right: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
